.card {
	margin-left: 10px;
	margin-right: 10px;
}

.alert {
	margin-left: 10px;
	margin-right: 10px;
}

.espaco {
	margin-top: 15px;
}

.diogo-titulo {
	float: left;
}

.diogo-link {
	float: right;
}
